body{
    background-color: black;
}

h1, h2, h3{
    color: white;
}

.logo{
    padding: 7px;
}

header{
    background-color: aqua;
}

.banner{
    background-image: url("https://raw.githubusercontent.com/tylerkwallace/Images/master/Flames.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

p{
    color: white;
}

/* .navbar{
    color: white;
} */

a.navbar-brand{
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.figure-caption{
    color: white;
    text-align: center;
}

figure{
    height: 400px;
    width: auto;
}