.row{
    margin-left: 15%;
    margin-right: 15%;
}

.nav-item{
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-link {
    color: black;
}

h1{
    font-weight: 800;
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg, #FB5607, #FF006E 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    letter-spacing: -.11rem;
}

p{
    font-size: 110%;
    font-weight: 100;
    line-height: 35px;
    color: #5c616e;
    letter-spacing: .05rem;
}

a{
    font-weight: 700;
}