<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>Template</title>
  </head>
  <body>
    <header>
        <div class="container">
            <h1>Grid by Example</h1>
            <p>Everything you need to learn CSS Grid Layout</p>
        </div>
        <nav class="main">
            <ul class="nav">
              <li><a href="{{ url_for('home') }}">Page 1</a></li>
              <li><a href="#">Page 2</a></li>
              <li><a href="#">Page 3</a></li>
            </ul>
        </nav>
    </header>
      {% block content %}
      {% endblock %}
      <!-- <footer class="py-5">
        <div class="container">
            <p class="m-0 text-center text-white">© Tyler Wallace 2021</p>
        </div>
      </footer> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>