<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>Page 1</title>
  </head>
  <body>
    <header>
        <div class="container">
            <h1>Grid by Example</h1>
            <p>Everything you need to learn CSS Grid Layout</p>
        </div>
        <nav class="main">
            <ul class="nav">
              <li><a href="{{ url_for('home') }}">Page 1</a></li>
              <li><a href="{{ url_for('page2') }}">Page 2</a></li>
              <li><a href="{{ url_for('page3') }}">Page 3</a></li>
            </ul>
        </nav>
    </header>
      <div class="container">
        <div class="row gap-4">
          <div class="col col-8">
              <h2>CSS Grid Layout</h2>
              <p>This site is a collection of examples, video and other information to help you learn CSS Grid Layout. Developed and maintained by Rachel Andrew.</p>
          </div>
          <div class="col">
              <h3>The Video Tutorial</h3>
              <p>A collection of short and to the point videos, demonstrating various parts of the CSS Grid Layout specification.</p>
          </div>
        </div>
        <div class="row">
          <div class="col purple-bg col-12">
            <h3>Getting Started Guide</h3>
            <p>A structured guide to resources that will help you to start learning CSS Grid Layout.</p>
          </div>
        </div>
        <div class="row gap-4">
          <div class="col col-5 flag-new">
              <h3>The Examples</h3>
              <p>Small examples of the CSS Grid Layout specification. Each demonstrates a feature of the specification. Includes new Subgrid examples!</p>
          </div>
          <div class="col">
              <h3>Patterns</h3>
              <p>Grab & Go. A set of example patterns with fallbacks for older browsers.</p>
          </div>
        </div>
        <div class="row gap-4">
          <div class="col col-8">
              <h3>Resources</h3>
              <p>More links to articles, tutorials and conference presentations that will help you learn CSS Grid Layout.</p>
          </div>
          <div class="col">
              <h3>CSS Layout News</h3>
              <p>Sign up for a weekly email full of CSS Layout links and resources.</p>
          </div>
        </div>
        <div class="row gap-4">
          <div class="col col-5">
              <h3>Questions?</h3>
              <p>Ask me anything about Grid Layout over at my GitHub Grid AMA.</p>
          </div>
          <div class="col col-3">
              <h3>About CSS Grid</h3>
              <p>What even is this? Do I need to care?</p>
          </div>
          <div class="col">
            <h3>News</h3>
            <p>Infrequent updates on this site.</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-12">
            <h3>GridBugs!</h3>
            <p>If you have found a bug in a browser, or want to see what we have found so far, check out this site.</p>
          </div>
        </div>
      </div>
      
      <footer>
        <div class="container">
          <p>This is a project by Rachel Andrew. Take a look at some of the other things I make.</p>
          <ul>
            <li><a href="https://grabaperch.com">Perch CMS</a> - the original Really Little CMS. Designed for speed and simple implementation.</li>
            <li><a href="https://noti.st">Notist</a> - slide sharing and much more. Create your public speaking portfolio.</li> 
            <li><a href="https://thecssworkshop.com">The CSS Workshop</a> - learn CSS Layout with me</li> 
        </ul>
        <p>This site is hosted on <a href="https://www.netlify.com/">Netlify</a>, thanks to their free hosting for open source projects.</p>
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>