<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/page3.css')}}">
    <title>Page 3</title>
</head>

<body>
    <header>
        <div class="d-flex align-items-center justify-content-center">
            <div class="logo">
                <h1>logo</h1>
            </div>
        </div>
    </header>

    <nav class="navbar sticky-top bg-dark justify-content-center">
        <a class="navbar-brand" href="{{ url_for('home') }}">PAGE 1</a>
        <a class="navbar-brand" href="{{ url_for('page2') }}">PAGE 2</a>
        <a class="navbar-brand" href="{{ url_for('page3') }}">PAGE 3</a>
    </nav>
    <div class="banner">
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;>
            <div class=" row">
            <div class="col-12">
                <center>
                    <p style="margin-top: 15px; font-size: larger;">
                        Discover the chaotic world</p>
                    <h1>Books</h1>
                    <div class="container">
                        <p>The first Harry Potter book, Harry Potter and the Philosopher’s
                            Stone, was published by Bloomsbury in 1997 to immediate popular
                            and critical acclaim. Six further best-selling books, three companion
                            books, a playscript and two screenplays have since followed. The Harry
                            Potter books have been translated into over 80 languages, won multiple
                            awards, and sold more than 500 million copies worldwide, becoming the
                            best-selling book series in history...</p>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2>test</h2> 
             </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2>test</h2> 
             </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-3 offset-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2>test</h2> 
             </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-3 offset- d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <figure class="figure">
                    <img src="https://raw.githubusercontent.com/tylerkwallace/Images/master/worst-book-covers-titles-48.jpg" 
                        class="figure-img img-fluid rounded" 
                            alt="...">
                    <figcaption class="figure-caption">Mommy Drinks Because You're Bad</figcaption>
                </figure>
            </div>
        </div>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>